header{
    background-color:pink;
    text-align: center;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 10px ;
    height: 50px;
}

body { 
    font-family: 'Lobster', cursive;
    background-image: url(stardust.png);
    color:black;
    font-size:35px;
}

main {
    background-color: white;
    text-align: center;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 50px;
}

main p { 
    font-size:25px;
    color:pink;
}

footer {
    background-color: white;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    position: fixed;
    bottom: 0px;
    left:25px;
    right:25px;
}
    
a {
    color: grey;
    font-size:24px;
    text-decoration:none;
    font-family: 'Lobster', cursive;
    
}

.competences {
    text-align: left;
}

.images {
     width:100px;
}


#navigation a {
    padding: 4px 10px; 
    font-weight: bold;
    text-decoration: none;
    color: #666;
}

#navigation a:hover, #navigation a:focus {
    text-decoration: underline;
    color: #444;
}

#navigation #en-cours a {
    background-color: #91BD09;
    color: #fff;
}



h2 {
text-align:center;
color:black;
font-size:45px;
font-family: 'lobster' , cursive;
}

h1 {
text-align:center;
color:black;
font-size:45px;
font-family:'lobster' , cursive;
}


.Logiciels {
    text-align: left;
    margin-left: 50px;
    float: left;
}

.langues {
    text-align: center;
    padding-right:195px;
    padding-top: 1px;
}

.reseaux {
     text-align: right;
    margin-right: 50px;
    float: right;
    
    
}

.mail {
    text-decoration: none;
    color: black;
}

